
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.nav-items, .left-section{
    color: rgb(31, 40, 115);
}


.learn-more-btn, .signin-btn{
    background: linear-gradient(
        50deg,
        rgb(150, 92, 242), 
        rgb(255, 138, 220));
    color: #fff;
    border-radius: 30px;
    padding: 2px 15px;
    border: none;
    z-index: 2;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
}

nav .nav-items{
    display: flex;
    font-size: 1.3em;
}

nav .nav-items .nav-item{
    padding: 5%;
    z-index: 2;
}

nav .nav-items {
    margin-right: 10%;
}

nav img{
    width: 100px;
}

nav .signin-btn{
    font-size: 1.1em;
}


body{
    overflow-x: hidden;
}

.intro-section .left-section{
    position: absolute;
    right: 50%;
    left: 11%;
    top: 28%;
}

.left-section h1{
    font-size: 60px;
}

.left-section h4{
    width: 320px;
    text-align: left;
    line-height: 1.8;
    margin-top: 6%;
}

.learn-more-btn{
    padding: 15px 40px;
    font-size: 18px;
    margin-top: 6%;
}



.vector-dot + img {
    height: 800px;
    background: url('../images/backcover.svg');
    background-repeat: no-repeat; 
    background-size: contain;
    position: absolute;
    right: -3%;
    top: 0%;    
    padding: 4% 5% 0 0;
} 

.vector-dot{
    position: absolute;
    top:70%;
    right: 38%;
}

.vector-img{
    position: absolute;
    top:68%;
    right: 36%;
}

